html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  overflow: hidden;
  position: relative;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  position: absolute;
  bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 0;
}

.btn {
  position: absolute;
  bottom: 0;
}

.btn {
  float: left;
  position: absolute;
  bottom: 0;
}

a {

}
